body {
    margin: 0;
    background-color: #010101;
    background-image: url(../../Public/img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body>div{  
    height: 100vmax;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 50px;
}
.titre{
    margin-left: 25vw;
    width: 50vw;
    background-color: black;
    padding: 2px;
    padding-bottom: 0 ;
}
h1{
    margin: 0;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
}
body>div>div>img{
    margin-left: 25vw;
    width: 50vw;
    background-color: black;
    padding: 2px;
}
.choice{
    margin-top: -7px;
    margin-left: 25vw;
    display:flex;
    z-index: 10;
}
p{
    text-align: center;
    font-size: small;
    line-height: 40px;
    margin-top: 0;
    background-color: #fff;
    margin-bottom: 0;
}
 .button-A{
    width: calc(25vw - 1px);
    background-color: black;
    padding: 2px;
    padding-right: 1px;
}
.button-B {
    width: calc(25vw - 1px);
    background-color: black;
    padding: 2px;
    padding-left: 1px;
} 
a{
    text-decoration: none;
    color: black;
}
.article>div{
    margin-left: 15vw;
    display: flex;
}
.article h1{
    margin-left: 10vw;
    width: 80vw;
    border: solid;
}
.article>div>a>div{
    margin-top: 20px;
    height: 30vw;
    width: 30vw;
    background-image: url("../../Public/img/Denji/denji-normal.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.article>div>a+a>div {
    margin-left: 10vw;
}